<section id="actor-<%= @actor.id %>">
  <h1>Name: <%= @actor.name %></h1>
  <p>Age: <%= @actor.age %></p>
</section>

<section id="associates">
  <h3>Actors <%= @actor.name %> has worked with: </h3>
  <p><%= @actor.associates %></p>
</section>
